# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.env.*

# =========================
# Node / React
# =========================
frontend/node_modules/
frontend/dist/
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Uploaded Resume Files
# =========================
backend/uploads/resumes/*
!backend/uploads/resumes/.gitkeep

# =========================
# Python Cache
# =========================
*.egg-info/
.mypy_cache/